* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  height: 100vh;
  width: 100vw;
  display: flex;
  gap: 2rem;
}

.left {
  background-color: #f3f4f6;
  padding: 2rem;
}

.right {
  border: solid 2px #d5d5d5;
  border-radius: 30px;
  width: 100%;
  height: fit-content;
  margin: 2rem;
  padding: 2rem;
}
img {
  width: 200px;
}
.info-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

span {
  font-weight: bold;
}
